#include <windows.h>
#include <winres.h>

#define IDD_DIALOG_CPS 101
#define IDC_EDIT_CPS 1001
#define IDI_TRAYICON 102
#define IDC_STATIC_TITLE 1002
#define IDC_STATIC_SUBTITLE 1003
#define IDC_STATIC_CPS_INFO 1004

IDD_DIALOG_CPS DIALOGEX 0, 0, 240, 110
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_TOPMOST
CAPTION "wow"
FONT 10, "Verdana", 400, 0, 0x1
BEGIN
    GROUPBOX        "cps settings",IDC_STATIC,10,10,220,70
    LTEXT           "enter cps:",IDC_STATIC,20,25,45,8
    EDITTEXT        IDC_EDIT_CPS,70,23,40,12,ES_AUTOHSCROLL | ES_NUMBER | WS_BORDER
    LTEXT           "cps conversion:",IDC_STATIC,20,45,60,8
    LTEXT           "20 = 12-14 cps\n30 = 17-19 cps\n40 = 21-23 cps",IDC_STATIC_CPS_INFO,85,45,140,30
    DEFPUSHBUTTON   "start",IDOK,90,85,40,15
END

IDI_TRAYICON ICON "h4.ico"
